.navbar {
  /* background-color: #98FF98; */
  background-color: #FF9898;
  transition: background-color 0.3s ease;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  }
  
  .navbar ul {
    @apply flex justify-around list-none p-0 m-0;
  }

  .navbar li {
    @apply flex;
  }
  
  .navbar li a {
    @apply block text-center p-4 no-underline;
    color: #ffff; /* Soft Pink */
    transition: color 0.3s;
    font-size: 1rem; /* Adjust the font size as needed */
}

.navbar li a:hover {
    color: #FFFACD; /* Pastel Yellow */
}


