@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: 'Cormorant', sans-serif; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {

  font-family: 'Cormorant';
  src: url('/fonts/Cormorant/static/Cormorant-Regular.ttf') format('truetype'),
       url('/fonts/Cormorant/static/Cormorant-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.highlightedSection{
  background-color: #ff9898;
  height: 50vh;
}
.highlightedSection2{
  background-color: #FFFDD0;
  height: 50vh;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
.navbar a {
  margin: 0 20px;
  text-decoration: none;
  background-color: transparent;
  font-size: 1.9vh;

}

.navbar a:hover {
  text-decoration: underline;
}

.logo-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}